<table class="table table-striped">

  <% @trips.each do |trip| %>
    <tr>
      <td><%= trip.date %></td>
      <td><%= trip.group.name %></td>
      
      <td><%= link_to "Edit", edit_trip_path(trip) %></td>
    </tr>
  <% end %>

</table>