

<table class="table table-striped">

  <% @leaders.each do |leader| %>
    <tr>
    <td><%= leader.first_name %> <%= leader.last_name %></td>
    <td><%= leader.group %></td>
    <td><%= link_to "Edit", edit_leader_path(leader) %></td>
   </tr>
  <% end %>

</table>